MONGODB_URI=mongodb://localhost:27017/health_data_db
GOOGLE_API_KEY=
SIMULATOR_URL=http://localhost:4000
TWILIO_SERVICE_URL=http://localhost:3000
AMBULANCE_NUMBER=
PATIENT_PHONE_NUMBER=
DIAGNOSIS_INTERVAL_MINUTES=1440
PERIODIC_WELLNESS_INTERVAL_MINUTES=180
